body {
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

input, button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.login {
	width: 60%;
	margin: 0px auto;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

#plataformasUtilizadasGraph {
	display: none;
}

#usuariosConectados {
	display: block;
}

ul button {
	margin-left: 20px !important;
	margin-top: 10px !important;
}

#puntero {
	width: 35%;
	margin: 0px auto;
}

.login input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	margin-bottom: 20px;
	transition: 0.3s;
}

.login button {
	display: block;
	background-color: blue;
	color: #fff;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 15px;
	width: 100%;
	transition: 0.3s;
}

.login button:hover {
	background-color: #fff;
	color: blue;
	border: 1px solid blue;
}

.login input:focus {
	border: 1px solid #999;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
  }
  
#contenedorVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    background-color: #10004e;
    opacity: 0.8;
}

#imagen {
	display: none;
	height: 150px;
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 0px;
	border-right: 60px solid transparent;
	border-top: 180px solid #428bca;
	opacity: 0.5;
}

.contenedor {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 180px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#titulo {
	z-index: 2;
	font-family: 'Nunito', sans-serif;
	color: whitesmoke;
	font-size: 2.3em;
	width: 50%;
}

@media screen and (max-width: 1000px) {
  .login {
  	width: 80% !important;
	}
	
	.contenedor {
		position: relative;
		width: 100%;
		background-color: #428bca8e;
	}

	.banner {
		border: none;
	}

	#imagen {
		display: inline-block;
		width: 50%;
	}

	.punteroC {
		display: none;
	}
}